h1 {
    font-family: 'Fredoka One', sans-serif;
    color: #FF671F;
}

nav ul  {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    font-family: 'Fredoka One', sans-serif;
    gap: 25px;
    margin: 0;
    padding: 0;
}

nav ul li a:hover::after {
    width: 100%;
}

html{
    scroll-behavior:smooth;
}

/* scroll container */
div.scroll-container {
    background-color: #ffe6cc;
    overflow: auto;
    white-space: nowrap;
    padding: 0px;
}
div.scroll-container img {
    padding: 3px;
}

section {
    padding: 60px 20px;
    font-family: 'Fredoka One', sans-serif;
}  

body{
    color: black;
    padding-top: 80px;
}

/* dunkin colour palette */
.orange {
    color: #FF671F; 
}
.magenta {
    color: #DA1884;
}

/* background colours for each section : https://usbrandcolors.com/dunkin-donuts-colors/ */
#home{
    background-color:#ffe6cc
}
#menu{
    background-color: #f596ca
}
#locations{
    background-color:#f3c8ab ;
}
#contact{
    background-color: #b00e67;
}


.logo {
    width: 300px;
    height: auto;
}

@media (max-width: 768px) {
    .logo {
        width: 250px;
    }
}

@media (max-width: 500px) {
    .logo {
        width: 80px;
    }
}

footer{
    font-family: 'Fredoka One', sans-serif;
    color:#DA1884
}